html {
    font-size: 15px;
    font-family: 'Audiowide', cursive;
    background-color:goldenrod;
}

h1 {
    font-size: 60px;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    color: #b34b0f;
    text-shadow: 10px 3px 3px black;
}

p, li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

body {
    width: 500px;
    margin: 0 auto;
    background-color:rgb(42, 120, 151);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    width: 400px;
}